npm-debug.log
.DS_Store

hooks/
lib/
node_modules/.bin
node_modules/@types
node_modules/long
node_modules/nativescript-theme-core
node_modules/nativescript-ui-chart
node_modules/nativescript-ui-core
node_modules/tns-core-modules
node_modules/tns-core-modules-widgets
node_modules/setimmediate
node_modules/@protobufjs
node_modules/protobufjs
node_modules/seedrandom
platforms/
typings/
.idea
.vscode
